In [7]:
import os
import glob
import pandas as pd
from pybaseball import cache, pitching_stats_bref, playerid_reverse_lookup, get_splits

cache.enable()

In [8]:
# Create the 'data' directory if it doesn't exist
if not os.path.exists('data'):
    os.makedirs('data')

# Loop through years from 2008 to 2022
for year in range(2008, 2023):
    file_path = f'data/data-{year}-pitching-bref.csv'  # specify the directory and filename

    # Check if the file already exists
    if os.path.exists(file_path):
        continue

    data_pitching_bref = pitching_stats_bref(year)
    data_pitching_bref.to_csv(file_path, index=False)

### 註：以上這段下載資料的時候，約費時 11 分鐘。

In [9]:
# 確認每個 data 中的 csv 檔案都有相同的欄位

reference_columns = None

# Loop through years from 2008 to 2022
for year in range(2008, 2023):
    file_path = f'data/data-{year}-pitching-bref.csv'
    data_pitching_bref = pd.read_csv(file_path)
    
    # Set the reference columns if not set
    if reference_columns is None:
        reference_columns = data_pitching_bref.columns
        print(f"Reference columns for year {year}:")
        print(reference_columns)
    else:
        # Check if the columns are the same as the reference columns
        if data_pitching_bref.columns.equals(reference_columns):
            print(f"Columns for year {year} match the reference columns.")
        else:
            print(f"Columns for year {year} do NOT match the reference columns:")
            print(data_pitching_bref.columns)

Reference columns for year 2008:
Index(['Name', 'Age', '#days', 'Lev', 'Tm', 'G', 'GS', 'W', 'L', 'SV', 'IP',
       'H', 'R', 'ER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'AB', '2B', '3B', 'IBB',
       'GDP', 'SF', 'SB', 'CS', 'PO', 'BF', 'Pit', 'Str', 'StL', 'StS',
       'GB/FB', 'LD', 'PU', 'WHIP', 'BAbip', 'SO9', 'SO/W', 'mlbID'],
      dtype='object')
Columns for year 2009 match the reference columns.
Columns for year 2010 match the reference columns.
Columns for year 2011 match the reference columns.
Columns for year 2012 match the reference columns.
Columns for year 2013 match the reference columns.
Columns for year 2014 match the reference columns.
Columns for year 2015 match the reference columns.
Columns for year 2016 match the reference columns.
Columns for year 2017 match the reference columns.
Columns for year 2018 match the reference columns.
Columns for year 2019 match the reference columns.
Columns for year 2020 match the reference columns.
Columns for year 2021 match the reference columns.
Columns for year 2022 match the reference columns.

In [10]:

files = glob.glob('data/data-*-pitching-bref.csv')

# Create an empty list to hold DataFrames
dfs = []

# Loop through each file and read it into a DataFrame
for file in files:
    # Extract the year from the file name
    year = int(file.split('-')[1])

    # Read the CSV file into a DataFrame and add a 'year' column
    df = pd.read_csv(file)
    df['year'] = year

    # Append the DataFrame to the list
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
pitching_stats_all = pd.concat(dfs)
print(f"Number of rows in pitching_stats_all: {len(pitching_stats_all)}")

Number of rows in pitching_stats_all: 11022

In [11]:
pitching_stats_all.head()

,Name,Age,#days,Lev,Tm,G,GS,W,L,SV,...,StS,GB/FB,LD,PU,WHIP,BAbip,SO9,SO/W,mlbID,year
0,Fernando Abad,33,1310,Maj-NL,San Francisco,21,0,NaN,2.0,NaN,...,0.11,0.62,0.19,0.03,0.923,0.200,6.2,3.00,472551,2019
1,Bryan Abreu,22,1309,Maj-AL,Houston,7,0,NaN,NaN,NaN,...,0.19,0.50,0.31,0.00,0.808,0.250,13.5,4.33,650556,2019
2,Jason Adam,27,1309,Maj-AL,Toronto,23,0,3.0,NaN,NaN,...,0.11,0.29,0.24,0.18,1.154,0.237,7.5,1.80,592094,2019
3,Austin Adams,32,1394,Maj-AL,"Detroit,Minnesota",15,0,NaN,NaN,NaN,...,0.11,0.42,0.21,0.09,1.860,0.286,7.6,1.08,542866,2019
4,Austin Adams,28,1317,"Maj-AL,Maj-NL","Seattle,Washington",30,2,2.0,2.0,NaN,...,0.16,0.50,0.18,0.05,1.125,0.286,14.9,3.31,613534,2019

In [12]:
# 去除掉沒有救援記錄的投手
# drop those rows with missing values in `SV`, save to a new DataFrame
pitching_stats_all_only_saves = pitching_stats_all.dropna(subset=['SV'])

# print the number of rows in the new DataFrame
print(f"Number of rows: {len(pitching_stats_all_only_saves)}")

Number of rows: 2288

In [13]:
pitching_stats_all_only_saves[['SV', 'G', 'IP', 'GS']].describe()

               SV            G           IP           GS
count  2288.00000  2288.000000  2288.000000  2288.000000
mean      7.70979    49.115822    54.291740     1.279720
std      11.40753    20.420956    25.557407     4.327689
min       1.00000     1.000000     0.100000     0.000000
25%       1.00000    32.000000    37.200000     0.000000
50%       2.00000    55.000000    57.100000     0.000000
75%       8.00000    66.000000    67.400000     0.000000
max      62.00000    86.000000   204.200000    33.000000

### 對於終結者的假設

In [14]:
# GS: 先發場次要小於平均數
# IP: 投球局數要超過平均數
# SV: 救援成功要超過平均數
pitching_stats_all_only_saves_potential_closers = pitching_stats_all_only_saves[
    (pitching_stats_all_only_saves['GS'] < pitching_stats_all_only_saves['GS'].mean()) &
    (pitching_stats_all_only_saves['IP'] > pitching_stats_all_only_saves['IP'].mean()) & 
    (pitching_stats_all_only_saves['SV'] > pitching_stats_all_only_saves['SV'].mean())
]

# print the number of rows in the new DataFrame
print(f"Number of rows: {len(pitching_stats_all_only_saves_potential_closers)}")

Number of rows: 441

In [15]:
pitching_stats_all_only_saves_potential_closers.head()

,Name,Age,#days,Lev,Tm,G,GS,W,L,SV,...,StS,GB/FB,LD,PU,WHIP,BAbip,SO9,SO/W,mlbID,year
92,Archie Bradley,26,1311,Maj-NL,Arizona,66,1,4.0,5.0,18.0,...,0.10,0.47,0.31,0.06,1.437,0.341,10.9,2.42,605151,2019
133,Aroldis Chapman,31,1309,Maj-AL,New York,60,0,3.0,2.0,37.0,...,0.14,0.43,0.30,0.06,1.105,0.292,13.4,3.40,547973,2019
153,Alex Colom\xc3\xa9,30,1310,Maj-AL,Chicago,62,0,4.0,5.0,30.0,...,0.13,0.44,0.28,0.03,1.066,0.217,8.1,2.39,517008,2019
184,Edwin D\xc3\xadaz,25,1310,Maj-NL,New York,66,0,2.0,7.0,26.0,...,0.18,0.36,0.28,0.06,1.379,0.381,15.4,4.50,621242,2019
193,Sean Doolittle,32,1310,Maj-NL,Washington,63,0,6.0,5.0,29.0,...,0.12,0.25,0.24,0.14,1.300,0.315,9.9,4.40,448281,2019

In [16]:
# average count of players from 2008 to 2022
average_closers_per_season = len(
    pitching_stats_all_only_saves_potential_closers) / (2022 - 2008 + 1)

average_closers_per_season

29.4

### 大致上符合每一隊都有一個終結者的數字，先前的假設成立

## 取得「被推派為終結者」年份，非救援情況下的資料

這邊的「推派」有點為妙，因為有時候總教練並不會明確指定。

例如 2019 年底的 Archie Bradley，可以參考[這篇新聞](
https://www.forbes.com/sites/jackmagruder/2019/08/09/archie-bradley-steps-into-the-closers-role-in-arizona/?sh=34436d585449
)：

> Manager Torey Lovullo has not specifically named Bradley as his closer, but he does not need to. The proof is in the usage. 



所以這邊會以上面 `pitching_stats_all_only_saves_potential_closers` 作為基礎，進行每一個年度的 game splits 取得資料，再彙整分析。

In [24]:
# 取得每一個終結者該球季的 splits

# 假設您已經有了一個名為 pitching_stats_all_only_saves_potential_closers 的 DataFrame
# 取得 mlbID 列表
player_ids = pitching_stats_all_only_saves_potential_closers['mlbID'].tolist()

# 使用 player_ids 執行 playerid_reverse_lookup
players_info = playerid_reverse_lookup(player_ids, key_type='mlbam')

# 建立 mlbID 到 key_bbref 的哈希映射
id_to_bbref = dict(zip(players_info['key_mlbam'], players_info['key_bbref']))

# 建立目錄存放 CSV 文件
output_folder = "./data/pitching_splits_closer_2008_2022"
if not os.path.exists(output_folder):
    os.makedirs(output_folder)
    
for index, row in pitching_stats_all_only_saves_potential_closers.iterrows():
    mlb_id = row['mlbID']
    year = row['year']
    name = row['Name']

    # 從哈希映射中取得對應的 key_bbref
    key_bbref = id_to_bbref[mlb_id]

    # 儲存為 CSV 文件
    file_name = f"{name}_{year}_pitching_splits.csv"
    file_path = os.path.join(output_folder, file_name)

    # 檢查是否已存在 CSV 檔案，如果存在，則跳過此次循環
    if os.path.exists(file_path):
        continue

    # 使用 key_bbref 和年份調用 get_splits 函數
    splits = get_splits(playerid=key_bbref, year=year, pitching_splits=True)

    # 檢查 splits 是否為 tuple，如果是，則將第一個元素 (DataFrame) 賦值給 splits
    if isinstance(splits, tuple):
        splits = splits[0]

    splits.to_csv(file_path)

### 註：以上這段下載資料的時候，約費時 45 分鐘。